-content_for :header, "Edit #{resource_name.to_s.humanize}"

- form_for resource_name, resource, :url => registration_path(resource_name), :html => { :method => :put } do |f|
  = iphone_error_messages_for f
  = f.hidden_field :reset_password_token
  %fieldset
    %ul.pageitem
      %li.bigfield
        = f.text_field :email, :placeholder=>"Email"
      %li.bigfield
        = f.text_field :current_password, :placeholder=>"Current Password"
      / %li.bigfield
      /   = f.text_field :password, :placeholder=>"New Password"
      / %li.bigfield
      /   = f.text_field :password_confirmation, :placeholder=>"Password Confirmation"
      %li.button
        = f.submit "Update"
  %ul.pageitem
    %li.textbox
      %span.header
        Cancel my account
      %p
        Unhappy?
        = link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete
        \.