-content_for :header, "Sign Up"

- form_for resource_name, resource, :url => registration_path(resource_name) do |f|
  = iphone_error_messages_for f
  %fieldset
    %ul.pageitem
      %li.bigfield
        = f.text_field :email, :placeholder=>"Email"
      %li.bigfield
        = f.password_field :password, :placeholder=>"Password"
      %li.bigfield
        = f.password_field :password_confirmation, :placeholder=>"Confirm Password"
      %li.button
        = f.submit "Sign up"
      
= render :partial => "devise/shared/links"