%h2
  #{goal.title}
  %span.aside= link_to 'Edit', edit_goal_path(goal)
%p
  You've succeeded if:
  = goal.success_means
- unless goal.progresses.empty?
  %p
    %b Next Step:
    = goal.last_progress.next_step
%hr

= render "progresses/form", locals: {progress: progress}

- unless goal.progresses.empty?
  %p
    The last time you made progress was #{last_progress_in_words(goal)}.
  %p Previously you:
  %ul.progresses
    - goal.progresses.each do |progress|
      %li= progress.task_accomplished
= link_to '< back', goals_path
