<!DOCTYPE html>
<html>
<head>
  <title>FuturePerfect</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign In', new_user_session_path)  %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Profile', edit_user_registration_path) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign Up', new_user_registration_path)  %>
    </li>
  <% end %>
</ul>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
