!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title== Goals: #{ controller.action_name }
    %meta{ :name => "apple-mobile-web-app-capable", :content => "yes" }
    %meta{ :content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type" }
    %meta{ :name => "viewport", :content => "minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" }

    = stylesheet_link_tag 'iWebKit/style.css'
    = javascript_include_tag 'iWebKit/functions.js' #:defaults
    = csrf_meta_tag
    %meta{ :name => "keywords", :content => "keyword1,keyword2,keyword3" }
    %meta{ :name => "description", :content => "Description of your page" }

  %body{:class=>((content_for? :body_class)? yield(:body_class) : '')}
    #topbar
      #title
        = (content_for? :header)? yield(:header) : "FuturePerfect"
      #leftnav
        = link_to_unless_current(image_tag("iWebKit/home.png", :alt => "Home"), goals_path) {""}
        = yield(:left_of_header) if content_for? :left_of_header
      #rightbutton  
        = yield(:right_of_header) if content_for? :right_of_header
    #content
      -if notice
        %ul.pageitem
          %li.textbox
            %p.notice= notice
      =yield
      
    #footer
      %a.noeffect{ :href => "http://iwebkit.net" }
        Powered by iWebKit
